[submodule "component/isp"]
	path = component/isp
	url = https://github.com/scpcom/sophgo-SensorSupportList
	branch = sg200x-dev
[submodule "sample/test_mmf/media_server-1.0.x"]
	path = sample/test_mmf/media_server-1.0.x
	url = https://github.com/scpcom/ireader
	branch = maixcdk
[submodule "sample/kvm_stream"]
	path = sample/kvm_stream
	url = https://github.com/scpcom/streameye
	branch = kvm_stream
[submodule "modules/bin/json-c"]
	path = modules/bin/json-c
	url = https://github.com/scpcom/json-c
	branch = cvi
[submodule "modules/bin/miniz"]
	path = modules/bin/miniz
	url = https://github.com/scpcom/miniz
	branch = cvi
[submodule "3rdparty/live/live555"]
	path = 3rdparty/live/live555
	url = https://github.com/scpcom/live555
	branch = sg200x-dev
[submodule "3rdparty/json-c/json-c"]
	path = 3rdparty/json-c/json-c
	url = https://github.com/scpcom/json-c
	branch = 3rd
[submodule "3rdparty/miniz/miniz"]
	path = 3rdparty/miniz/miniz
	url = https://github.com/scpcom/miniz
	branch = 3rd
[submodule "3rdparty/zlib/zlib"]
	path = 3rdparty/zlib/zlib
	url = https://github.com/scpcom/zlib
	branch = 3rd
[submodule "3rdparty/opencv/opencv"]
	path = 3rdparty/opencv/opencv
	url = https://github.com/scpcom/opencv
	branch = 3rd
